In [1]:
from pyspark.sql import SparkSession

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("CompareShortTrips") \
    .getOrCreate()

# Set the logging level to ERROR
spark.sparkContext.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/julienrefour/Library/Caches/pypoetry/virtualenvs/odx-oGRBGo2t-py3.8/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/09 11:36:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
#build next stop id dataframe
from pyspark.sql import Window
from pyspark.sql import functions as F

def haversine(lat1_col, lon1_col, lat2_col, lon2_col):
    """
    Calculate the great circle distance in meters between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lat1 = F.radians(lat1_col)
    lon1 = F.radians(lon1_col)
    lat2 = F.radians(lat2_col)
    lon2 = F.radians(lon2_col)
    
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = F.sin(dlat/2)**2 + F.cos(lat1) * F.cos(lat2) * F.sin(dlon/2)**2
    c = 2 * F.asin(F.sqrt(a)) 
    r = 6371000  # Radius of earth in meters. Use 3956 for miles. Determines return value units.
    return c * r

def get_percentile_columns(column,tag,step):
    """
    This function takes a Spark DataFrame column and returns a list of columns representing
    the percentiles from 0 to 100 in 5 percent increments.
    """
    percentiles = [i for i in range(0, 100+step,step)]
    return [F.percentile_approx(column,p/100).alias(f"PERCENTILE_{p}_{tag}") for p in percentiles]

def prepare_journeys(journeys,stop_times):
    alighting_stop_window = Window.partitionBy("CARD_ID").orderBy(F.col("DATETIME").asc())
    journeys = journeys.join(stop_times.dropDuplicates(),on = ["LINE_ID","STOP_ID"],how = "left")
    journeys = journeys.dropDuplicates(["CARD_ID","JOURNEY_ID","DATETIME","EVENT"])
    journeys = journeys.withColumn(
        "EVENT_NEXT_NEXT",
        F.lead(F.col("EVENT"),2).over(alighting_stop_window)
        ).withColumn(
        "EVENT_TYPE_NEXT_NEXT",
        F.lead(F.col("EVENT_TYPE"),2).over(alighting_stop_window)
        )
    journeys = journeys.withColumn(
        "STOP_ID_NEXT",
        F.lead(F.col("STOP_ID"),1).over(alighting_stop_window)
        ).withColumn(
        "STOP_LAT_NEXT",
        F.lead(F.col("STOP_LAT"),1).over(alighting_stop_window)
        ).withColumn(
        "STOP_LON_NEXT",
        F.lead(F.col("STOP_LON"),1).over(alighting_stop_window)
        ).withColumn(
        "STOP_ID_NEXT_NEXT",
        F.lead(F.col("STOP_ID"),2).over(alighting_stop_window)
        ).withColumn(
        "STOP_LAT_NEXT_NEXT",
        F.lead(F.col("STOP_LAT"),2).over(alighting_stop_window)
        ).withColumn(
        "STOP_LON_NEXT_NEXT",
        F.lead(F.col("STOP_LON"),2).over(alighting_stop_window)
        ).withColumn(
        "DATETIME_NEXT_NEXT",
        F.lead(F.col("DATETIME"),2).over(alighting_stop_window)
        ).withColumn(
            "CONFIDENCE_NEXT",
            F.lead(F.col("CONFIDENCE"),1).over(alighting_stop_window)
        )
    journeys = journeys.withColumn("DISTANCE_TO_NEXT_STOP",haversine(
        F.col("STOP_LAT"),
        F.col("STOP_LON"),
        F.col("STOP_LAT_NEXT"),
        F.col("STOP_LON_NEXT"))
    )
    journeys = journeys.withColumn("DISTANCE_TO_NEXT_NEXT_STOP",haversine(
        F.col("STOP_LAT"),
        F.col("STOP_LON"),
        F.col("STOP_LAT_NEXT_NEXT"),
        F.col("STOP_LON_NEXT_NEXT"))
    )
    journeys = journeys.withColumn("ALIGHTING_DISTANCE_TO_NEXT_STOP",haversine(
        F.col("STOP_LAT_NEXT"),
        F.col("STOP_LON_NEXT"),
        F.col("STOP_LAT_NEXT_NEXT"),
        F.col("STOP_LON_NEXT_NEXT"))
    )
    journeys = journeys.withColumn(
        "TIME_TO_NEXT_ORIGIN",
        F.datediff(F.col("DATETIME_NEXT_NEXT"),
                F.col("DATETIME")
                ))
    return journeys

def analyze_single_leg_trips(journeys):
    single_leg_trips = journeys.filter(F.col("EVENT_TYPE") == "ORIGIN").filter(F.col("EVENT_TYPE_NEXT_NEXT") == "ORIGIN")
    single_leg_trips = single_leg_trips.withColumn(
    "IS_NULL_JOURNEY",
    F.when(
        F.col("STOP_ID")==F.col("STOP_ID_NEXT_NEXT"),
        F.lit("Y")
    ).otherwise(F.lit("N"))).withColumn(
    "IS_SINGLE_STOP_RIDE",
    F.when(
        F.col("STOP_ID_NEXT")==F.col("TRIP_STOP_ID_NEXT"),
        F.lit("Y")
    ).otherwise(F.lit("N"))
    ).withColumn("ALIGHT_AT_NEXT_START_LOCATION",
         F.when(F.col("STOP_ID_NEXT")==F.col("STOP_ID_NEXT_NEXT"),
        F.lit("Y")
    ).otherwise(F.lit("N")))
    total_count = single_leg_trips.select(F.count("*").alias("TOTAL_JOURNEYS"))
    single_leg_trips_analysis = single_leg_trips.groupBy(
        "IS_SINGLE_STOP_RIDE",
        "ALIGHT_AT_NEXT_START_LOCATION",
        ).agg(
    F.count("*").alias("N_JOURNEYS"),
    *[
        3.3*F.percentile_approx("ALIGHTING_DISTANCE_TO_NEXT_STOP",p/100).alias(
        f"PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_{p}").cast("int")
        for p in range(0,120,20)
        ]
    # *[
    #     3.3*F.percentile_approx("DISTANCE_TO_NEXT_STOP",p/100).alias(
    #     f"PERCENTILE_RIDE_DISTANCE_{p}").cast("int")
    #     for p in range(0,120,20)
    #     ]
    
    )
    single_leg_trips_analysis = single_leg_trips_analysis.join(total_count)
    single_leg_trips_analysis = single_leg_trips_analysis.withColumn(
        "PERCENT_JOURNEYS",
        (100*F.col("N_JOURNEYS")/F.col("TOTAL_JOURNEYS")).cast("float")).drop("TOTAL_JOURNEYS")
    return single_leg_trips_analysis,single_leg_trips

In [7]:
stop_times = spark.read.parquet("../data/02_intermediate/stop_times_avl/stop_times")
stop_times = stop_times.dropDuplicates(["TRIP_ID","STOP_SEQUENCE"])
next_stop_window = Window.partitionBy("TRIP_ID").orderBy(F.col("STOP_SEQUENCE").asc())
stop_times = stop_times.withColumn(
    "STOP_ID_NEXT",
    F.lead(F.col("STOP_ID"),1).over(next_stop_window)
    )
stop_times = stop_times.select(
    F.col("ROUTE_ID_OLD").alias("LINE_ID"),
    F.col("STOP_ID"),
    F.col("STOP_ID_NEXT").alias("TRIP_STOP_ID_NEXT"),
    F.col("DIRECTION_ID"),
).dropDuplicates(["LINE_ID","STOP_ID","DIRECTION_ID"])
stop_times = stop_times.withColumn(
    "IS_MAX",
    F.when(F.col("LINE_ID").isin([200,190,290,90,100]),"Y").otherwise("N")
    ).cache()
n_lines_per_stop = stop_times.filter(
    F.col("IS_MAX") == "Y").select("STOP_ID","LINE_ID").groupBy("STOP_ID").agg(
    F.countDistinct(F.col("LINE_ID")).alias("N_MAX_LINES")
    ).cache()
control_journeys = spark.read.parquet("../data/control_run_2/rider_events_partitioned")
control_journeys = prepare_journeys(control_journeys,stop_times)
control_journeys = control_journeys.withColumn(
    "IS_MAX",
    F.when(F.col("LINE_ID").isin([200,190,290,90,100]),"Y").otherwise("N")
    ).cache()
single_leg_control_journeys_analysis,single_leg_control_journeys = analyze_single_leg_trips(control_journeys.filter(F.col("IS_MAX")=="Y"))
fixed_journeys = spark.read.parquet("../data/03_primary/rider_events_partitioned")
fixed_journeys = fixed_journeys.join(control_journeys.select("CARD_ID").distinct(),on = ["CARD_ID"],how = "right")
fixed_journeys = prepare_journeys(fixed_journeys,stop_times)
fixed_journeys = fixed_journeys.withColumn(
    "IS_MAX",
    F.when(F.col("LINE_ID").isin([200,190,290,90,100]),"Y").otherwise("N")
    ).cache()
single_leg_fixed_journeys_analysis,single_leg_fixed_journeys = analyze_single_leg_trips(fixed_journeys.filter(F.col("IS_MAX")=="Y"))

In [8]:
single_leg_control_journeys_analysis.toPandas().sort_values(
    by = ["IS_SINGLE_STOP_RIDE","ALIGHT_AT_NEXT_START_LOCATION"]
    ).T

,3,2,1,0
IS_SINGLE_STOP_RIDE,N,N,Y,Y
ALIGHT_AT_NEXT_START_LOCATION,N,Y,N,Y
N_JOURNEYS,85417,20284,83623,964
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.0, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_0 AS INT) * 3.3)",29.7,0.0,29.7,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.2, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_20 AS INT) * 3.3)",191.4,0.0,2277.0,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.4, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_40 AS INT) * 3.3)",1250.7,0.0,5695.8,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.6, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_60 AS INT) * 3.3)",6180.9,0.0,16952.1,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.8, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_80 AS INT) * 3.3)",23007.6,0.0,33815.1,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 1.0, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_100 AS INT) * 3.3)",179335.2,0.0,143391.6,0.0
PERCENT_JOURNEYS,44.888275,10.659632,43.945492,0.5066

In [9]:
single_leg_fixed_journeys_analysis.toPandas().sort_values(
    by = ["IS_SINGLE_STOP_RIDE","ALIGHT_AT_NEXT_START_LOCATION"]
    ).T

,3,2,1,0
IS_SINGLE_STOP_RIDE,N,N,Y,Y
ALIGHT_AT_NEXT_START_LOCATION,N,Y,N,Y
N_JOURNEYS,128297,17366,69050,1623
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.0, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_0 AS INT) * 3.3)",29.7,0.0,29.7,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.2, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_20 AS INT) * 3.3)",184.8,0.0,2564.1,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.4, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_40 AS INT) * 3.3)",445.5,0.0,6745.2,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.6, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_60 AS INT) * 3.3)",2993.1,0.0,18374.4,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 0.8, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_80 AS INT) * 3.3)",17760.6,0.0,33950.4,0.0
"(CAST(percentile_approx(ALIGHTING_DISTANCE_TO_NEXT_STOP, 1.0, 10000) AS PERCENTILE_DISTANCE_FROM_ALIGHTING_TO_NEXT_ORIGIN_100 AS INT) * 3.3)",174985.8,0.0,146582.7,0.0
PERCENT_JOURNEYS,59.304508,8.027328,31.917942,0.750222

In [17]:
check_fixed = single_leg_fixed_journeys.filter(
    F.col("IS_SINGLE_STOP_RIDE") == F.lit("Y")
    ).groupBy("LINE_ID").agg(F.count("*").alias("count"),F.mean(F.col("CONFIDENCE_NEXT"))).toPandas()
check_fixed["percentage"] = check_fixed["count"]/check_fixed["count"].sum()*100
view_fixed = check_fixed[check_fixed["percentage"] > 0.01].sort_values(by = ["LINE_ID"],ascending = False)

In [7]:
check_control = single_leg_control_journeys.filter(
    F.col("IS_SINGLE_STOP_RIDE") == F.lit("Y")
    ).groupBy("LINE_ID").agg(F.count("*").alias("count"),F.mean(F.col("CONFIDENCE_NEXT"))).toPandas()
check_control["percentage"] = check_control["count"]/check_control["count"].sum()*100
view_control = check_control[check_control["percentage"] > 0.01].sort_values(by = ["LINE_ID"],ascending = False)

In [8]:
compare_lines = view_control.merge(view_fixed,on = ["LINE_ID"],how = "outer",suffixes = ("_control","_fixed"))
compare_lines[sorted(compare_lines.columns)]

,LINE_ID,avg(CONFIDENCE_NEXT)_control,avg(CONFIDENCE_NEXT)_fixed,count_control,count_fixed,percentage_control,percentage_fixed
0,290,0.456426,0.488460,8399,6034,9.929422,8.537914
1,200,0.437808,0.529314,8269,11242,9.775734,15.907065
2,190,0.442411,0.545696,7663,5515,9.059312,7.803546
3,100,0.470434,0.582170,36123,35249,42.705144,49.876190
4,90,0.445752,0.539640,24133,12633,28.530389,17.875285

In [9]:
single_leg_control_journeys.groupBy("IS_SINGLE_STOP_RIDE","IS_MAX").agg(
    F.count("*").alias("count"),
    F.mean(F.col("CONFIDENCE_NEXT")),
    F.stddev(F.col("CONFIDENCE_NEXT")),
    F.mean(F.col("ALIGHTING_DISTANCE_TO_NEXT_STOP")),
    F.stddev(F.col("ALIGHTING_DISTANCE_TO_NEXT_STOP"))).toPandas()

,IS_SINGLE_STOP_RIDE,IS_MAX,count,avg(CONFIDENCE_NEXT),stddev_samp(CONFIDENCE_NEXT),avg(ALIGHTING_DISTANCE_TO_NEXT_STOP),stddev_samp(ALIGHTING_DISTANCE_TO_NEXT_STOP)
0,Y,Y,84587,0.456273,0.105544,5458.146980,5949.900136
1,N,Y,105701,0.404082,0.184955,2872.698331,5134.213634

In [10]:
single_leg_fixed_journeys = single_leg_fixed_journeys.withColumn(
    "IS_MAX",
    F.when(F.col("LINE_ID").isin([200,190,290,90,100]),"Y").otherwise("N")
    )
single_leg_fixed_journeys.groupBy("IS_SINGLE_STOP_RIDE","IS_MAX").agg(
    F.count("*").alias("count"),
    F.mean(F.col("CONFIDENCE_NEXT")),
    F.stddev(F.col("CONFIDENCE_NEXT")),
    F.mean(F.col("ALIGHTING_DISTANCE_TO_NEXT_STOP")),
    F.stddev(F.col("ALIGHTING_DISTANCE_TO_NEXT_STOP"))).toPandas()

,IS_SINGLE_STOP_RIDE,IS_MAX,count,avg(CONFIDENCE_NEXT),stddev_samp(CONFIDENCE_NEXT),avg(ALIGHTING_DISTANCE_TO_NEXT_STOP),stddev_samp(ALIGHTING_DISTANCE_TO_NEXT_STOP)
0,Y,Y,70673,0.555313,0.258876,5603.369794,5932.335283
1,N,Y,145663,0.457442,0.196698,2451.779079,4605.780440

In [11]:
single_leg_control_journeys.filter(F.col("IS_MAX") == "Y").groupBy("IS_SINGLE_STOP_RIDE").agg(
    F.count("*"),
    *[F.percentile_approx(F.col("CONFIDENCE_NEXT"),p/100) for p in range(0,120,20)]
    ).toPandas().T.sort_values(by = ["IS_SINGLE_STOP_RIDE"],axis = 1)

                                                       1         0
IS_SINGLE_STOP_RIDE                                    N         Y
count(1)                                          105701     84587
percentile_approx(CONFIDENCE_NEXT, 0.0, 10000)       0.0       0.0
percentile_approx(CONFIDENCE_NEXT, 0.2, 10000)  0.273197   0.38382
percentile_approx(CONFIDENCE_NEXT, 0.4, 10000)  0.390432  0.426805
percentile_approx(CONFIDENCE_NEXT, 0.6, 10000)  0.454424  0.469992
percentile_approx(CONFIDENCE_NEXT, 0.8, 10000)  0.529993  0.524687
percentile_approx(CONFIDENCE_NEXT, 1.0, 10000)       1.0       1.0

In [10]:
single_leg_fixed_journeys.filter(F.col("IS_MAX") == "Y").groupBy("IS_SINGLE_STOP_RIDE").agg(F.count("*"),
    *[F.percentile_approx(F.col("CONFIDENCE_NEXT"),p/100) for p in range(0,120,20)]
    ).toPandas().T.sort_values(by = ["IS_SINGLE_STOP_RIDE"],axis = 1)

                                                       1         0
IS_SINGLE_STOP_RIDE                                    N         Y
count(1)                                          145663     70673
percentile_approx(CONFIDENCE_NEXT, 0.0, 10000)       0.0       0.0
percentile_approx(CONFIDENCE_NEXT, 0.2, 10000)  0.284639  0.294804
percentile_approx(CONFIDENCE_NEXT, 0.4, 10000)  0.398213  0.441488
percentile_approx(CONFIDENCE_NEXT, 0.6, 10000)  0.492754   0.68875
percentile_approx(CONFIDENCE_NEXT, 0.8, 10000)   0.61539  0.806693
percentile_approx(CONFIDENCE_NEXT, 1.0, 10000)       1.0       1.0

In [11]:
check_control_n_lines = single_leg_control_journeys.join(n_lines_per_stop,on = ["STOP_ID"]).groupBy("N_MAX_LINES").agg(
    F.count("*").alias("count"),
    *get_percentile_columns(F.col("CONFIDENCE_NEXT"),"CONFIDENCE",20)
    ).toPandas()
check_fixed_n_lines = single_leg_fixed_journeys.join(n_lines_per_stop,on = ["STOP_ID"]).groupBy("N_MAX_LINES").agg(
    F.count("*").alias("count"),
    *get_percentile_columns(F.col("CONFIDENCE_NEXT"),"CONFIDENCE",20)
    ).toPandas()

In [12]:
check_control_n_lines.merge(check_fixed_n_lines,on = "N_MAX_LINES",suffixes=("_CONTROL","_FIXED")).sort_values(by = ["N_MAX_LINES"]).T

                                              0             2             1
N_MAX_LINES                            1.000000      2.000000  3.000000e+00
count_CONTROL                      82556.000000  65393.000000  4.233900e+04
PERCENTILE_0_CONFIDENCE_CONTROL        0.000000      0.000000  0.000000e+00
PERCENTILE_20_CONFIDENCE_CONTROL       0.380030      0.318995  3.422425e-01
PERCENTILE_40_CONFIDENCE_CONTROL       0.443108      0.386155  3.977404e-01
PERCENTILE_60_CONFIDENCE_CONTROL       0.489913      0.431887  4.439668e-01
PERCENTILE_80_CONFIDENCE_CONTROL       0.550407      0.496822  5.138611e-01
PERCENTILE_100_CONFIDENCE_CONTROL      1.000000      1.000000  1.000000e+00
count_FIXED                        96296.000000  74668.000000  4.537200e+04
PERCENTILE_0_CONFIDENCE_FIXED          0.000000      0.000000  8.247397e-17
PERCENTILE_20_CONFIDENCE_FIXED         0.412023      0.289475  1.772021e-01
PERCENTILE_40_CONFIDENCE_FIXED         0.507903      0.364834  2.337996e-01
PERCENTILE_60_CONFIDENCE_FIXED         0.596164      0.432448  3.849822e-01
PERCENTILE_80_CONFIDENCE_FIXED         0.730172      0.619860  7.452801e-01
PERCENTILE_100_CONFIDENCE_FIXED        1.000000      1.000000  1.000000e+00

In [13]:
single_leg_control_journeys.filter(
    F.col("IS_MAX")=="Y").select("JOURNEY_ID").distinct().count(),single_leg_fixed_journeys.filter(F.col("IS_MAX")=="Y").select("JOURNEY_ID").distinct().count()

(171688, 216336)

In [44]:
check_counts = fixed_journeys.filter(F.col("EVENT").isin(["BOARDED","ALIGHTED"])).groupBy("CARD_ID","DATETIME","JOURNEY_ID").count()
check_counts.filter(F.col("COUNT")>1).show()
fixed_journeys.filter(F.col("JOURNEY_ID").contains("a092bdeffa055f8b0")).show()

+--------------------+-------------------+--------------------+-----+
|             CARD_ID|           DATETIME|          JOURNEY_ID|count|
+--------------------+-------------------+--------------------+-----+
|c724fccd-3182-fa1...|2024-04-09 07:52:47|a092bdeffa055f8b0...|    2|
|d0455611-166e-0e6...|2024-04-14 10:01:10|ea308a398ac2a2573...|    2|
|ec056711-23e8-cae...|2024-04-08 04:18:27|8028515841b15addd...|    2|
|78dfad0b-b622-26b...|2024-04-27 00:11:12|700c80e3a4ec6caf2...|    2|
|8381ba2f-e6ca-d8d...|2024-04-04 07:06:54|0cf0d0acab3be436c...|    2|
|8dd86836-2b21-66f...|2024-04-10 03:15:36|5a525ea4a23e98c43...|    2|
|ac3a8e5e-e865-c61...|2024-04-23 03:49:42|95715b5c9bdf2b372...|    2|
|baf5f42b-a4e8-325...|2024-04-08 11:33:37|e576eddbdfc3292ce...|    2|
|bc722a87-f7b6-c64...|2024-04-06 02:59:12|b69f124a048b54f8f...|    2|
|bdcf45b4-1a3b-9c5...|2024-04-02 05:37:38|a73503b08f7d006aa...|    2|
|dd9ba4e3-15b9-da5...|2024-04-09 11:36:28|9a97485b15e5c59f4...|    2|
|1e04bb13-612f-13e...|2024-04-28 09:51:00|8dd59b5d7abcd0951...|    2|
|e5f1b160-161f-de9...|2024-04-23 00:57:05|f48778a038b7a647d...|    2|
|7ca961f8-9a0d-cff...|2024-04-18 06:33:18|859807eb8be9845bd...|    2|
|7f9eb88a-8ac3-8ac...|2024-04-01 04:31:31|f340f48be80548d02...|    2|
|a712d36a-4bb4-ad7...|2024-04-11 07:03:02|b9c5987da7598963e...|    2|
|1a83f87b-c3b9-ecc...|2024-04-17 00:26:13|98c8178ebeebc36c2...|    2|
|37b302bc-0a89-a15...|2024-04-11 12:13:31|479fd92dcce16b6c8...|    2|
|37b302bc-0a89-a15...|2024-04-14 03:23:23|9e9924266efdbb434...|    2|
|37b302bc-0a89-a15...|2024-04-26 11:00:30|8a13fd7f9ae98b544...|    2|
+--------------------+-------------------+--------------------+-----+
only showing top 20 rows

+-------+-------+--------------------+-------------------------+-------------------+--------------------+------------------+-------------------+------------+--------+------------------+-----------+-------+------------------+-----------------+------------+------+---------------+--------------------+------------+------------------+-------------------+-----------------+------------------+-------------------+-------------------+------------------+---------------------+--------------------------+-------------------------------+-------------------+
|LINE_ID|STOP_ID|          JOURNEY_ID|FARE_CATEGORY_DESCRIPTION|           DATETIME|             CARD_ID|          STOP_LAT|           STOP_LON|DIRECTION_ID|   EVENT|        CONFIDENCE| EVENT_TYPE|IS_LOOP|JOURNEY_START_DATE|TRIP_STOP_ID_NEXT|DIRECTION_ID|IS_MAX|EVENT_NEXT_NEXT|EVENT_TYPE_NEXT_NEXT|STOP_ID_NEXT|     STOP_LAT_NEXT|      STOP_LON_NEXT|STOP_ID_NEXT_NEXT|STOP_LAT_NEXT_NEXT| STOP_LON_NEXT_NEXT| DATETIME_NEXT_NEXT|   CONFIDENCE_NEXT|DISTANCE_TO_NEXT_STOP|DISTANCE_TO_NEXT_NEXT_STOP|ALIGHTING_DISTANCE_TO_NEXT_STOP|TIME_TO_NEXT_ORIGIN|
+-------+-------+--------------------+-------------------------+-------------------+--------------------+------------------+-------------------+------------+--------+------------------+-----------+-------+------------------+-----------------+------------+------+---------------+--------------------+------------+------------------+-------------------+-----------------+------------------+-------------------+-------------------+------------------+---------------------+--------------------------+-------------------------------+-------------------+
|     75|   3453|a092bdeffa055f8b0...|                    Adult|2024-04-09 07:49:13|c724fccd-3182-fa1...| 45.57713299999988|-122.67436599999985|           1| BOARDED|               1.0|     ORIGIN|  false|        2024-04-09|             3562|           1|     N|       ALIGHTED|         MID_JOURNEY|        3558|45.577099000000054|        -122.661564|             3558|         45.577099|        -122.661564|2024-04-09 07:52:47|               1.0|    996.3962835622415|         996.3962835622661|           6.365907800898185E-9|                  0|
|     75|   3558|a092bdeffa055f8b0...|                    Adult|2024-04-09 07:52:47|c724fccd-3182-fa1...|45.577099000000054|        -122.661564|           1| BOARDED|               1.0|MID_JOURNEY|  false|        2024-04-09|             5919|           1|     N|       ALIGHTED|         MID_JOURNEY|        3558|         45.577099|        -122.661564|             3558|         45.577099|        -122.661564|2024-04-09 07:53:09|0.7224452433224755| 6.365907800898185E-9|      6.365907800898185E-9|                            0.0|                  0|
|     75|   3558|a092bdeffa055f8b0...|                    Adult|2024-04-09 07:52:47|c724fccd-3182-fa1...|         45.577099|        -122.661564|           1|ALIGHTED|0.7224452433224755|MID_JOURNEY|  false|        2024-04-09|             5919|           1|     N|       ALIGHTED|         DESTINATION|        3558|         45.577099|        -122.661564|             7438|         45.516593|        -122.623061|2024-04-09 08:26:34|0.7224452433224755|                  0.0|         7365.829183320899|              7365.829183320899|                  0|
|     75|   3558|a092bdeffa055f8b0...|                    Adult|2024-04-09 07:53:09|c724fccd-3182-fa1...|         45.577099|        -122.661564|           1|ALIGHTED|0.7224452433224755|MID_JOURNEY|  false|        2024-04-09|             5919|           1|     N|       ALIGHTED|         DESTINATION|        7438|         45.516593|        -122.623061|             7438|         45.516593|        -122.623061|2024-04-09 08:27:54|0.7337019371246831|    7365.829183320899|         7365.829183320899|                            0.0|                  0|
|     75|   7438|a092bdeffa055f8b0...|                    Adult|2024-04-09 08:26:34|c724fccd-3182-fa1...|         45.516593|        -122.623061|           1|ALIGHTED|0.7337019371246831|DESTINATION|  false|        2024-04-09|             7492|           1|     N|        BOARDED|              ORIGIN|        7438|         45.516593|        -122.623061|             7437|  45.5163510000001|-122.62283199999973|2024-04-09 23:45:27|0.7337019371246831|                  0.0|          32.2871114364132|               32.2871114364132|                  0|
|     75|   7438|a092bdeffa055f8b0...|                    Adult|2024-04-09 08:27:54|c724fccd-3182-fa1...|         45.516593|        -122.623061|           1|ALIGHTED|0.7337019371246831|DESTINATION|  false|        2024-04-09|             7492|           1|     N|       ALIGHTED|         DESTINATION|        7437|  45.5163510000001|-122.62283199999973|             3452|         45.577299|         -122.67464|2024-04-10 00:17:32|               1.0|     32.2871114364132|         7854.817736886492|             7887.0661477376025|                  1|
+-------+-------+--------------------+-------------------------+-------------------+--------------------+------------------+-------------------+------------+--------+------------------+-----------+-------+------------------+-----------------+------------+------+---------------+--------------------+------------+------------------+-------------------+-----------------+------------------+-------------------+-------------------+------------------+---------------------+--------------------------+-------------------------------+-------------------+

In [45]:
single_leg_fixed_journeys.filter(F.col("STOP_ID") == F.col("STOP_ID_NEXT")).show()

+-------+-------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+------------+-------+----------+----------+-------+------------------+-----------------+------------+------+---------------+--------------------+------------+-------------+-------------+-----------------+------------------+------------------+-------------------+------------------+---------------------+--------------------------+-------------------------------+-------------------+---------------+-------------------+-----------------------------+
|LINE_ID|STOP_ID|          JOURNEY_ID|FARE_CATEGORY_DESCRIPTION|           DATETIME|             CARD_ID| STOP_LAT|   STOP_LON|DIRECTION_ID|  EVENT|CONFIDENCE|EVENT_TYPE|IS_LOOP|JOURNEY_START_DATE|TRIP_STOP_ID_NEXT|DIRECTION_ID|IS_MAX|EVENT_NEXT_NEXT|EVENT_TYPE_NEXT_NEXT|STOP_ID_NEXT|STOP_LAT_NEXT|STOP_LON_NEXT|STOP_ID_NEXT_NEXT|STOP_LAT_NEXT_NEXT|STOP_LON_NEXT_NEXT| DATETIME_NEXT_NEXT|   CONFIDENCE_NEXT|DISTANCE_TO_NEXT_STOP|DISTANCE_TO_NEXT_NEXT_STOP|ALIGHTING_DISTANCE_TO_NEXT_STOP|TIME_TO_NEXT_ORIGIN|IS_NULL_JOURNEY|IS_SINGLE_STOP_RIDE|ALIGHT_AT_NEXT_START_LOCATION|
+-------+-------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+------------+-------+----------+----------+-------+------------------+-----------------+------------+------+---------------+--------------------+------------+-------------+-------------+-----------------+------------------+------------------+-------------------+------------------+---------------------+--------------------------+-------------------------------+-------------------+---------------+-------------------+-----------------------------+
|    200|   8377|a07edf1c5fe92bfb0...|                    Adult|2024-04-13 04:07:35|e5bd12f3-f324-7c8...|45.530235|-122.665557|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-13|             7601|           1|     Y|        BOARDED|              ORIGIN|        8377|    45.530235|  -122.665557|             8340|         45.530057|       -122.664917|2024-04-13 04:09:54|               1.0|                  0.0|         53.63864758868927|              53.63864758868927|                  0|              N|                  N|                            N|
|     90|   9821|b82de7015ff4824ad...|                    Adult|2024-04-16 09:15:28|f4323a8d-0e82-a9e...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-16 09:34:44|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|   9969|36d50342b4856047e...|          Honored Citizen|2024-04-12 10:12:22|8f264834-3ae8-c38...|45.510098|-122.780757|           0|BOARDED|       1.0|    ORIGIN|   true|        2024-04-12|            10120|           0|     Y|        BOARDED|              ORIGIN|        9969|    45.510098|  -122.780757|             9624|         45.510383|       -122.781299|2024-04-12 10:19:09|               1.0|                  0.0|        52.801910426233256|             52.801910426233256|                  0|              N|                  N|                            N|
|     90|   9821|63a6544701ecfddc3...|          Honored Citizen|2024-04-22 06:06:17|1f1e1127-4719-bed...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-22|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-22 06:17:49|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|    100|  10117|741b9d19d9162d1ce...|                    Adult|2024-04-03 11:03:43|41da51c2-9766-799...|45.518236|-122.694089|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-03|            10121|           1|     Y|        BOARDED|              ORIGIN|       10117|    45.518236|  -122.694089|            10118|         45.517989|       -122.693544|2024-04-03 11:10:50|               1.0|                  0.0|         50.57055754029284|              50.57055754029284|                  0|              N|                  N|                            N|
|     90|   9821|89a1086134a89eedb...|                    Adult|2024-04-16 09:15:28|a04cdccb-6e66-87a...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-16 09:34:44|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|   9821|1c204e23a91408209...|                    Adult|2024-04-17 23:35:16|5e06f81f-3062-c3a...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-18|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9818|          45.49133|       -122.801723|2024-04-17 23:47:09|               1.0|                  0.0|         57.60435344123712|              57.60435344123712|                  0|              N|                  N|                            N|
|     90|  10117|9ee1feea08fda45dc...|          Honored Citizen|2024-04-14 06:14:01|c8ed467a-833b-972...|45.518236|-122.694089|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-14|            10121|           1|     Y|        BOARDED|              ORIGIN|       10117|    45.518236|  -122.694089|            10118|         45.517989|       -122.693544|2024-04-14 06:21:32|               1.0|                  0.0|         50.57055754029284|              50.57055754029284|                  0|              N|                  N|                            N|
|     90|   9821|7b67dc4533a707939...|                    Adult|2024-04-16 09:15:28|f612f0a0-5d71-483...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-16 09:34:44|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|   9821|b3d8b248a7849a32c...|                    Adult|2024-04-16 09:15:28|1098e7f6-0c18-c64...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-16 09:34:44|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|   8376|6e2993ef856394bcb...|                    Youth|2024-04-04 02:42:39|12cd8b5e-aab5-1ad...|45.530138| -122.66254|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-04|             8377|           1|     Y|        BOARDED|              ORIGIN|        8376|    45.530138|   -122.66254|             8376|         45.530138|        -122.66254|2024-04-04 02:46:57|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|   9821|943e6cf4610fdb4c8...|                    Adult|2024-04-13 02:26:27|0f4a0d23-a2e7-981...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-13|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9818|          45.49133|       -122.801723|2024-04-13 02:33:20|               1.0|                  0.0|         57.60435344123712|              57.60435344123712|                  0|              N|                  N|                            N|
|    100|   8376|0af78e36979eea5c1...|                    Adult|2024-04-16 09:10:07|ec04805d-7c67-cb2...|45.530138| -122.66254|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|             8377|           1|     Y|        BOARDED|              ORIGIN|        8376|    45.530138|   -122.66254|             8341|         45.530052|       -122.661908|2024-04-16 09:14:34|               1.0|                  0.0|         50.15036393278042|              50.15036393278042|                  0|              N|                  N|                            N|
|     90|   9821|f21ee3e30f82cacf1...|          Honored Citizen|2024-04-16 09:15:28|2062a719-fc81-14d...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-16 09:34:44|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|  10117|e4f8008a4cc881b2e...|                    Adult|2024-04-14 06:14:01|32103ec8-8097-c23...|45.518236|-122.694089|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-14|            10121|           1|     Y|        BOARDED|              ORIGIN|       10117|    45.518236|  -122.694089|            10118|         45.517989|       -122.693544|2024-04-14 06:21:32|               1.0|                  0.0|         50.57055754029284|              50.57055754029284|                  0|              N|                  N|                            N|
|     90|   8376|dd9c4131f7b92d30f...|                    Youth|2024-04-04 02:42:39|d51221f1-6570-bdd...|45.530138| -122.66254|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-04|             8377|           1|     Y|        BOARDED|              ORIGIN|        8376|    45.530138|   -122.66254|             8376|         45.530138|        -122.66254|2024-04-04 02:46:57|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|    100|   9821|1c211ca0b2b0f9e6f...|          Honored Citizen|2024-04-25 07:38:45|142208ce-ab7f-bfa...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-25|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-25 07:48:17|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|     90|   9821|35fee455a218ebe65...|                    Adult|2024-04-30 03:00:15|5e8242a3-63bf-ebe...|45.491696|  -122.8012|           0|BOARDED|       1.0|    ORIGIN|  false|        2024-04-30|             9969|           0|     Y|        BOARDED|              ORIGIN|        9821|    45.491696|    -122.8012|             9821|         45.491696|         -122.8012|2024-04-30 03:15:58|               1.0|                  0.0|                       0.0|                            0.0|                  0|              Y|                  N|                            Y|
|    100|   8377|887eb40172b986817...|                    Adult|2024-04-25 10:29:55|728ebc89-1abe-3fe...|45.530235|-122.665557|           1|BOARDED|       1.0|    ORIGIN|  false|        2024-04-25|             8378|           1|     Y|        BOARDED|              ORIGIN|        8377|    45.530235|  -122.665557|             8340|         45.530057|       -122.664917|2024-04-25 10:33:18|0.5254173368397458|                  0.0|         53.63864758868927|              53.63864758868927|                  0|              N|                  N|                            N|
|    200|   7606|8d11e8643fa279470...|                    Adult|2024-04-19 02:53:39|738a5318-e4d9-272...|45.508979|-122.682999|           1|BOARDED|       1.0|    ORIGIN|   true|        2024-04-19|            13140|           1|     Y|        BOARDED|              ORIGIN|        7606|    45.508979|  -122.682999|             7606|         45.508979|       -122.682999|2024-04-22 00:46:36|               0.0|                  0.0|                       0.0|                            0.0|                  3|              Y|                  N|                            Y|
+-------+-------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+------------+-------+----------+----------+-------+------------------+-----------------+------------+------+---------------+--------------------+------------+-------------+-------------+-----------------+------------------+------------------+-------------------+------------------+---------------------+--------------------------+-------------------------------+-------------------+---------------+-------------------+-----------------------------+
only showing top 20 rows

In [15]:
fixed_journeys = spark.read.parquet("../data/03_primary/rider_events_partitioned")
fixed_journeys = fixed_journeys.withColumn(
    "IS_MAX",
    F.when(F.col("LINE_ID").isin([200,190,290,90,100]),"Y").otherwise("N")
    ).cache()

In [30]:
window = Window.partitionBy(F.col("JOURNEY_ID")).orderBy(F.col("DATETIME").asc())
fixed_journeys = fixed_journeys.withColumn(
    "EVENT_TYPE_NEXT",
    F.lead(F.col("EVENT_TYPE"),1).over(window)
    ).withColumn(
    "STOP_ID_NEXT",
    F.lead(F.col("STOP_ID"),1).over(window)
    )
single_legged_journeys = fixed_journeys.filter(
    F.col("EVENT_TYPE")=="ORIGIN"
    ).filter(
    F.col("EVENT_TYPE_NEXT")=="DESTINATION"
)
single_legged_journeys = single_legged_journeys.join(stop_times.drop("IS_MAX"),on = ["LINE_ID","STOP_ID","DIRECTION_ID"],how = "left")

single_legged_journeys.filter(F.col("IS_MAX")=="Y").filter(F.col("STOP_ID_NEXT") == F.col("TRIP_STOP_ID_NEXT")).show()

+-------+-------+------------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+-------+----------+----------+-------+------------------+------+---------------+------------+-----------------+
|LINE_ID|STOP_ID|DIRECTION_ID|          JOURNEY_ID|FARE_CATEGORY_DESCRIPTION|           DATETIME|             CARD_ID| STOP_LAT|   STOP_LON|  EVENT|CONFIDENCE|EVENT_TYPE|IS_LOOP|JOURNEY_START_DATE|IS_MAX|EVENT_TYPE_NEXT|STOP_ID_NEXT|TRIP_STOP_ID_NEXT|
+-------+-------+------------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+-------+----------+----------+-------+------------------+------+---------------+------------+-----------------+
|    290|  13729|           0|029b2060a56c08488...|                    Adult|2024-04-07 01:33:23|95b7673d-5322-19b...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-07|     Y|    DESTINATION|       10293|            10293|
|    100|   8377|           1|035bdd4fbd2f41c14...|                    Adult|2024-04-02 08:24:20|ab10bcbf-e8ce-714...|45.530235|-122.665557|BOARDED|       1.0|    ORIGIN|  false|        2024-04-02|     Y|    DESTINATION|        8378|             8378|
|    290|  13729|           0|0483c3faad8c016da...|                    Adult|2024-04-11 12:09:06|9b381b53-9d6c-d7c...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-11|     Y|    DESTINATION|       10293|            10293|
|    100|   9824|           0|05133022dafaafc7e...|          Honored Citizen|2024-04-10 01:54:54|dbb62215-2e8b-ca3...|45.490501|-122.806766|BOARDED|       1.0|    ORIGIN|  false|        2024-04-10|     Y|    DESTINATION|        9821|             9821|
|    290|  13729|           0|066c82ca734aa0636...|                    Adult|2024-04-25 08:23:19|cd144459-61f1-eb3...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-25|     Y|    DESTINATION|       10293|            10293|
|    190|  11507|           1|07ec85ad95d21331e...|                    Adult|2024-04-10 04:43:08|21034f11-37e4-c10...|45.530091|-122.667769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-10|     Y|    DESTINATION|        7601|             7601|
|    290|  13729|           0|08108609c0622d372...|                    Adult|2024-04-04 02:22:55|7e6f0fc9-6144-dd4...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-04|     Y|    DESTINATION|       10293|            10293|
|    200|   7763|           0|09306b3b2afa8b6d1...|                    Adult|2024-04-22 15:36:57|20fdd2d3-6bdb-3c1...|45.527222|-122.676517|BOARDED|       1.0|    ORIGIN|  false|        2024-04-22|     Y|    DESTINATION|        8340|             8340|
|    290|  13729|           0|09bc29cb853a0f591...|          Honored Citizen|2024-04-09 07:06:39|fb4858f3-42cf-005...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-09|     Y|    DESTINATION|       10293|            10293|
|    290|  13729|           0|0a0969d305be5bf38...|                    Adult|2024-04-02 13:52:33|cb314c14-112b-206...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-02|     Y|    DESTINATION|       10293|            10293|
|    190|  11507|           1|10694687adbc3d1a0...|                    Adult|2024-04-12 10:29:37|4edcc161-526c-de4...|45.530091|-122.667769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-12|     Y|    DESTINATION|        7601|             7601|
|    290|  13729|           0|11d7eb47b95c2940e...|                    Adult|2024-04-06 11:18:02|d4058610-58be-358...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-06|     Y|    DESTINATION|       10293|            10293|
|    290|  13729|           0|127c91b93e580b49b...|                    Adult|2024-04-02 02:54:46|c131df33-f5a9-360...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-02|     Y|    DESTINATION|       10293|            10293|
|    190|  11507|           1|13884de929e12079e...|                    Adult|2024-04-26 10:13:06|afe5f25e-e9fb-160...|45.530091|-122.667769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-26|     Y|    DESTINATION|        7601|             7601|
|    290|  13729|           0|13f06e4d7b3426eaa...|          Honored Citizen|2024-04-17 17:22:39|d7d055c0-3235-442...|45.507942|-122.680858|BOARDED|       1.0|    ORIGIN|  false|        2024-04-18|     Y|    DESTINATION|       10293|            10293|
|    190|  11507|           1|14405ce15844e2e91...|                    Adult|2024-04-17 10:28:58|e84595b6-9812-40e...|45.530091|-122.667769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-17|     Y|    DESTINATION|        7601|             7601|
|    190|  11507|           1|1484fd5ec79ffc5dd...|                    Adult|2024-04-01 09:28:25|03498b05-fdfe-179...|45.530091|-122.667769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-01|     Y|    DESTINATION|        7601|             7601|
|    190|  13123|           0|150f38a6b2298f316...|          Honored Citizen|2024-04-11 13:32:54|da55de6e-f8b5-681...|45.515633|-122.680381|BOARDED|       1.0|    ORIGIN|  false|        2024-04-11|     Y|    DESTINATION|        7777|             7777|
|    190|  11507|           1|16e4d575d341f5dce...|                    Adult|2024-04-08 16:02:25|5926c545-9bfe-79b...|45.530091|-122.667769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-08|     Y|    DESTINATION|        7601|             7601|
|    190|   7774|           0|17b212968303a737d...|                    Adult|2024-04-01 12:15:01|9c632f95-4701-2b9...|45.511597| -122.68255|BOARDED|       1.0|    ORIGIN|  false|        2024-04-01|     Y|    DESTINATION|       13123|            13123|
+-------+-------+------------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+-------+----------+----------+-------+------------------+------+---------------+------------+-----------------+
only showing top 20 rows

In [36]:
single_legged_journeys.filter(F.col("IS_MAX")=="Y").show()

+-------+-------+------------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+-------+----------+----------+-------+------------------+------+---------------+------------+-----------------+
|LINE_ID|STOP_ID|DIRECTION_ID|          JOURNEY_ID|FARE_CATEGORY_DESCRIPTION|           DATETIME|             CARD_ID| STOP_LAT|   STOP_LON|  EVENT|CONFIDENCE|EVENT_TYPE|IS_LOOP|JOURNEY_START_DATE|IS_MAX|EVENT_TYPE_NEXT|STOP_ID_NEXT|TRIP_STOP_ID_NEXT|
+-------+-------+------------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+-------+----------+----------+-------+------------------+------+---------------+------------+-----------------+
|    100|   8374|           1|000010ad81e49c188...|          Honored Citizen|2024-04-06 09:56:46|9b028307-959b-fec...|45.530146|-122.654335|BOARDED|       1.0|    ORIGIN|  false|        2024-04-06|     Y|    DESTINATION|        8378|             8375|
|    100|   9848|           0|00002c50ab1eeac37...|          Honored Citizen|2024-04-09 15:51:59|7c796c19-fc39-e76...|45.522204|-122.991022|BOARDED|       1.0|    ORIGIN|  false|        2024-04-09|     Y|    DESTINATION|        9843|             9846|
|     90|   8377|           1|00038a8e14cad6fce...|          Honored Citizen|2024-04-24 08:04:34|aa08eff3-9fa2-b99...|45.530235|-122.665557|BOARDED|       1.0|    ORIGIN|  false|        2024-04-24|     Y|    DESTINATION|        9757|             8378|
|    200|  13132|           1|0005e4a8cd955a71c...|          Honored Citizen|2024-04-25 03:30:39|5203c0df-0100-a79...|45.435721|-122.567769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-25|     Y|    DESTINATION|       13139|            13133|
|    200|  13138|           1|000cf61fdb07344c8...|          Honored Citizen|2024-04-29 09:28:51|af2f051d-dce6-7c1...|45.503608|-122.566584|BOARDED|       1.0|    ORIGIN|  false|        2024-04-29|     Y|    DESTINATION|        8371|            13139|
|    100|   9828|           0|001247a2dc43ac5d4...|                    Adult|2024-04-10 22:42:01|d8dc4b78-daaf-f8c...|45.505058|-122.841872|BOARDED|       1.0|    ORIGIN|  false|        2024-04-11|     Y|    DESTINATION|        8342|             9822|
|    290|   7627|           1|001760f2d1e9c76f2...|                    Adult|2024-04-04 04:20:27|e92343b1-7c7b-6c8...|45.521573|-122.676178|BOARDED|       1.0|    ORIGIN|  false|        2024-04-04|     Y|    DESTINATION|       13717|             7646|
|    200|  13132|           1|0017835d57a26ef34...|                    Adult|2024-04-04 10:14:14|2e9c7655-7ea2-5af...|45.435721|-122.567769|BOARDED|       1.0|    ORIGIN|  false|        2024-04-04|     Y|    DESTINATION|        8377|            13133|
|    100|   8360|           1|0018ebcd0a694882a...|          Honored Citizen|2024-04-20 07:52:35|527ba715-9adc-449...|45.502705|-122.427348|BOARDED|       1.0|    ORIGIN|  false|        2024-04-20|     Y|    DESTINATION|        8373|             8361|
|     90|   8342|           0|001b26a5124f33e5a...|                    Adult|2024-04-16 11:45:18|8ecc3530-67bb-2b8...|45.530055| -122.65774|BOARDED|       1.0|    ORIGIN|  false|        2024-04-16|     Y|    DESTINATION|       10574|             8343|
|    290|   7646|           1|001ba75e5de727bff...|                    Adult|2024-04-09 08:42:02|c489050c-adf2-678...|45.518255|-122.677934|BOARDED|       1.0|    ORIGIN|  false|        2024-04-09|     Y|    DESTINATION|        7618|             7608|
|     90|   8333|           0|001c07565ef78b5a8...|          Honored Citizen|2024-04-06 10:13:23|4be7975f-8c8f-818...| 45.51916| -122.68162|BOARDED|       1.0|    ORIGIN|  false|        2024-04-06|     Y|    DESTINATION|        8344|             8334|
|    200|   7774|           0|001ddddf7a18e8c63...|                    Adult|2024-04-01 06:32:29|ae4a96e5-b95f-662...|45.511597| -122.68255|BOARDED|       1.0|    ORIGIN|  false|        2024-04-01|     Y|    DESTINATION|        9299|            13123|
|    100|   8363|           1|00251065281b96b37...|          Honored Citizen|2024-04-24 23:37:06|cbcb909e-e065-9ad...|45.520723|-122.471093|BOARDED|       1.0|    ORIGIN|  false|        2024-04-25|     Y|    DESTINATION|        8376|             8364|
|    100|   8367|           1|002521cafc3eceed2...|          Honored Citizen|2024-04-18 14:43:51|dcea6a02-6400-72b...|45.522344|-122.511614|BOARDED|       1.0|    ORIGIN|  false|        2024-04-18|     Y|    DESTINATION|        8378|             8368|
|    100|  10117|           1|00261acc23f20aca3...|                    Adult|2024-04-02 01:52:46|26d53706-9f25-a69...|45.518236|-122.694089|BOARDED|       1.0|    ORIGIN|  false|        2024-04-02|     Y|    DESTINATION|        9818|            10121|
|    100|  13450|           0|00262b73524eebe3f...|          Honored Citizen|2024-04-26 17:49:53|dd5a5e7d-2cfc-e5c...|45.507972|-122.441302|BOARDED|       1.0|    ORIGIN|  false|        2024-04-27|     Y|    DESTINATION|        8359|             8356|
|    190|  11500|           1|0026cd19810c5e4a4...|                    Adult|2024-04-21 10:39:00|da7d5e2c-6a7b-ce7...|45.583792|-122.685879|BOARDED|       1.0|    ORIGIN|  false|        2024-04-21|     Y|    DESTINATION|       11502|            11501|
|    190|   7774|           0|00292b393fb7e9c1d...|                    Adult|2024-04-07 06:52:54|1ad32aae-00f0-de2...|45.511597| -122.68255|BOARDED|       1.0|    ORIGIN|  false|        2024-04-07|     Y|    DESTINATION|       11498|            13123|
|    190|   7777|           0|0029b51ce81b4da95...|                    Adult|2024-04-23 11:17:07|136497c8-1efe-c4c...|45.518964|-122.678558|BOARDED|       1.0|    ORIGIN|  false|        2024-04-23|     Y|    DESTINATION|       11510|             7787|
+-------+-------+------------+--------------------+-------------------------+-------------------+--------------------+---------+-----------+-------+----------+----------+-------+------------------+------+---------------+------------+-----------------+
only showing top 20 rows

In [47]:
check = fixed_journeys.filter(
    F.col("CARD_ID").contains("c724fccd-3182-fa1")
    ).select("DATETIME","EVENT","STOP_ID","LINE_ID").withColumn("DATETIME",F.col("DATETIME").cast("string")).toPandas()
check[check["DATETIME"].str.contains("2024-04-09")].sort_values(by = ["DATETIME"])

               DATETIME     EVENT  STOP_ID  LINE_ID
61  2024-04-09 00:21:13  ALIGHTED     3452       75
19  2024-04-09 00:21:29  ALIGHTED     3452       75
81  2024-04-09 00:21:29  ALIGHTED     3452       75
75  2024-04-09 00:21:29  ALIGHTED     3452       75
20  2024-04-09 07:49:13   BOARDED     3453       75
62  2024-04-09 07:49:13   BOARDED     3453       75
82  2024-04-09 07:49:13   BOARDED     3453       75
76  2024-04-09 07:49:13   BOARDED     3453       75
83  2024-04-09 07:52:47   BOARDED     3558       75
21  2024-04-09 07:52:47   BOARDED     3558       75
63  2024-04-09 07:52:47   BOARDED     3558       75
64  2024-04-09 07:52:47  ALIGHTED     3558       75
77  2024-04-09 07:52:47   BOARDED     3558       75
22  2024-04-09 07:53:09  ALIGHTED     3558       75
78  2024-04-09 07:53:09  ALIGHTED     3558       75
84  2024-04-09 07:53:09  ALIGHTED     3558       75
65  2024-04-09 08:26:34  ALIGHTED     7438       75
79  2024-04-09 08:27:54  ALIGHTED     7438       75
23  2024-04-09 08:27:54  ALIGHTED     7438       75
85  2024-04-09 08:27:54  ALIGHTED     7438       75
14  2024-04-09 23:45:27   BOARDED     7437       75
66  2024-04-09 23:45:27   BOARDED     7437       75
70  2024-04-09 23:45:27   BOARDED     7437       75
86  2024-04-09 23:45:27   BOARDED     7437       75